.aptitudes >*{
    padding: 20px;
}

.aptitudes{
    /*en grids.css*/
    max-width: 100vw;
}

.titulo{
    grid-area: titulo;
    margin: 10px 70px;
}

.desarrollo-web{
    grid-area: desarrollo-web;
    border: solid black 1px;
    border-radius: 5px;
    margin: 5px;
}

.programacion{
    grid-area: programacion;
    border: solid black 1px;
    border-radius: 5px;
    margin: 5px;
}

.extras{
    grid-area: extras;
    border: solid black 1px;
    border-radius: 5px;
    margin: 5px;
}

.aptitudes p{
    grid-area: actual;
    text-align: left;
}

.aptitudes .resumen{
    grid-area: textito;
    justify-content: center;
}

.aptitudes li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
.aptitudes li p{
    text-align: right;
}*/



.aptitudes li p{
    grid-area: tema;
}

.aptitudes .barra{
    grid-area: barra;
}
.barra{
    width: 100%!important;
}