.aptitudes{
    display: grid;
    
    grid-template-rows:max-content;
    grid-template-columns: repeat(3, calc(33vw - 3px));
    grid-template-areas:
    'titulo titulo titulo' 
    'desarrollo-web programacion extras'
    'textito textito textito'
    ;
}

.aptitudes li{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
    'tema barra';
}

.showcase{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 150px;  
    grid-template-areas: 
    'hero hero'
    'resumen descripcion'
    'aptitudes aptitudes'
    
    'estudios premios'
    'estudios premios'
    ;
}