@media (min-width: 1500px){
    .aptitudes li{
        max-width: 500px;
        margin: 0px;
    }
}

@media (max-width: 1400px){
    .barra{
        min-width: 150px;
    }
    .aptitudes li p{
        max-width: 100px;
    }
}

@media (max-width: 1350px){
    .barra{
        width: 100px;
    }
    .aptitudes li p{
        max-width: 100px;
    }
}

@media(max-width:1000px){
    .aptitudes{
        grid-template-columns: repeat(3, 33vw);
        grid-template-areas:
        'titulo titulo titulo ' 
        'desarrollo-web desarrollo-web desarrollo-web'
        'programacion programacion programacion'
        'extras extras extras'
        'textito textito textito'
        ;
    }
    
    .aptitudes .resumen{
        grid-area: textito;
        padding: 20px;
    }

    /*.aptitudes li{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
        'tema barra';
    }*/
    
    .aptitudes li p{
        grid-area: tema;
    }
    
    .aptitudes .barra{
        grid-area: barra;
    }
    .barra{
        width: 100%!important;
    }
}

